<footer class="ctf-footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="ctf-footer-container">

          <div class="ctf-footer-contacts-wrapper">

            <div class="ctf-footer-contacts">
              <p class="ctf-footer-contacts-item">
                  <a href="">
                      <i class="fab fa-github"></i>
                  </a>
              </p>
              <p class="ctf-footer-contacts-item">

              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
