<header class="ctf-header">
  <div class="ctf-header-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="ctf-header-nav">
            <div class="ctf-nav-light">
              //=./nav.html
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <h1 class="ctf-header-title">Donate to charities... Or start your own.</h1>
          <div class="ctf-header-title-note">
            <p>
                   Start your own charities or donate to causes you believe in. Your money will be
                used the way you want it to be spent.

            </p>
          </div>
          <p class="ctf-header-promo">
              Auditorium lets you donate to a charity without worrying about how your money is spent. We are
              partnering with organisations to ensure that your money is only spent on verified merchants. <br>
              You can event start to raise money for your own cause in <b>3 easy steps</b>.
              Auditorium is the first fully decentralised platform powered by <b> Ethereum </b>, <b> Maker Dao </b>and <b> 3Box </b>so
              all your information is stored securely

          </p>
          <div class="ctf-header-buttons">
            <a href="" class="ctf-button ctf-button-purple ctf-button-purple-bordered mr-4">Go To App</a>
            <a href="" class="ctf-button ctf-button-white">Docs</a>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="ctf-header-image">
<!--              TODO add  image-->
<!--            <img src="../../assets/img/images/promo.png" />-->
          </div>
        </div>
      </div>
    </div>
  </div>
</header>