<section class="ctf-reviews">
  <div class="container-fluid">
    <h2 class="ctf-partition-title ctf-partition-marker ctf-partition-marker-center text-center">
      About the team

    </h2>
    <p class="ctf-partition-title-description text-center mx-auto">
      Baby Got Hack
    </p>
    <div class="row">
      <div class="col-lg-4">
        <blockquote class="ctf-reviews-item">
          <div class="ctf-reviews-item-wrapper">
            <p class="ctf-reviews-item-source">
              <cite class="ctf-reviews-item-author">
                Pranav singhal
              </cite>
              New Delhi, India
            </p>

            <div class="ctf-reviews-item-quote">
              <p>
                I am a web-developer working in the ethereum space for past two years. I graduated with a masters in Physics from University
                  of delhi in 2019. I specialise in ReactJs.
              </p>

            </div>
          </div>
        </blockquote>
      </div>
      <div class="col-lg-4">
        <blockquote class="ctf-reviews-item">
          <div class="ctf-reviews-item-wrapper">
            <p class="ctf-reviews-item-source">
              <cite class="ctf-reviews-item-author">
                Arvind Kalra
              </cite>
              New Delhi, India
            </p>

            <div class="ctf-reviews-item-quote">
              <p>
                I am a web-developer working in the ethereum space for over 2 years now. I specialise in backend development in NodeJs and
                  writing Ethereum Smart Contracts and Web3Js for Dapps
              </p>

            </div>
          </div>
        </blockquote>
      </div>
      <div class="col-lg-4">
        <blockquote class="ctf-reviews-item mb-0">
          <div class="ctf-reviews-item-wrapper">
            <p class="ctf-reviews-item-source">
              <cite class="ctf-reviews-item-author">
                Harjot Singh
              </cite>
              New Delhi, India
            </p>

            <div class="ctf-reviews-item-quote">
              <p>
                I am a final Year student currently learning web-development. I recently started hacking in the ethereum space and love
                  it. I hope to build more such cool apps like Adiutorium
              </p>


            </div>
          </div>
        </blockquote>
      </div>
    </div>
  </div>
</section>