<section class="ctf-hire">
  <div class="container-fluid">
    <div class="ctf-hire-offer">
      <div class="row">
        <div class="col-lg-6 col-md-7">
          <h2 class="ctf-hire-offer-category ctf-partition-marker">Donate to a cause you believe in</h2>
          <div class="row">
            <div class="col-lg-6 col-sm-6">
              <div class="ctf-hire-offer-item">
                  <img src="/assets/img/images/solidity.png" alt="">
                <div class="ctf-hire-offer-content">
                  <h4 class="ctf-hire-offer-item-title">
                    Smart Contracts
                  </h4>
                  <p class="ctf-hire-offer-item-text">
                    The funds to donate to a campaign on Adiutorium are locked in Ethereum Smart Contracts.
                      This ensures that your money will be spent <b> the way you want it</b>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-sm-6">
              <div class="ctf-hire-offer-item">
                  <img src="https://media-exp1.licdn.com/dms/image/C4D0BAQF6r1CY8CchpA/company-logo_200_200/0?e=1590019200&v=beta&t=vsJeuEpbYA2usQCN09GL3V4qhSRluSwG6lTzVqA3rKg" alt="">
                <div class="ctf-hire-offer-content">
                  <h4 class="ctf-hire-offer-item-title">
                    3Box
                  </h4>
                  <p class="ctf-hire-offer-item-text">
                    All app data is stored on ipfs using 3Box profiles, spaces and plugins
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-sm-6">
              <div class="ctf-hire-offer-item">
                  <img src="https://miro.medium.com/max/1480/0*eA4VnVO85pRDssLT" alt="" style="width:25%">
                <div class="ctf-hire-offer-content">
                  <h4 class="ctf-hire-offer-item-title">
                    Dai
                  </h4>
                  <p class="ctf-hire-offer-item-text">
                    Spend and donate money in DAI, thus avoiding market fluctuations in cryptocurrencies . The money you donate or raise will not fall
                      in value
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-sm-6">
              <div class="ctf-hire-offer-item">
                <svg class="ctf-hire-offer-icon ctf-hire-offer-icon-lock">
                  <use xlink:href="#lnr-cloud-check"></use>
                </svg>
                <div class="ctf-hire-offer-content">
                  <h4 class="ctf-hire-offer-item-title">
                    Campaign Ledger
                  </h4>
                  <p class="ctf-hire-offer-item-text">
                    Easily track how a charity is spending the money. Make <b>Bound Donations</b> that can only be spent on
                      organisations verified by Adiutorium
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-5 ctf-hire-img-content">
          <div class="ctf-hire-offer-img-container">
            <img src="../../assets/img/images/image1.jpg" class="ctf-hire-offer-img-webdev" />
          </div>
        </div>
      </div>
    </div>

  </div>
</section>